PORT=8003
DATABASE_URL=******localhost:5434/session_db
REDIS_URL=redis://localhost:6379
JWT_SECRET=your-secret-key-here
BS_URL=http://localhost:8002
SS_URL=http://localhost:8001
BL_URL=http://localhost:8004
